Package: com.level3tjg.daemondisabler
Name: DaemonDisabler
Depends: mobilesubstrate, preferenceloader, ldid
Version: 2.0.6
Architecture: iphoneos-arm64e
Description: Disable / Enable launch daemons on the fly from the Settings app
Maintainer: level3tjg (iOS 16 roothide port maintained by CySxL)
Author: level3tjg
Section: Tweaks
